ul{list-style: none; padding: 0;}
li{padding: 0; margin: 0;}
a{color: #929DA5;}
a:hover{text-decoration: none; color: #ddf;}
a:visited, a:active, a:link{text-decoration: none;}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color: #fff;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
	margin-left: 0px;
}
.navbar-brand{
	width: 140px;
	font-size: 19px !important;
	padding: 15px 6px 15px 0px;
}
button, select, input{border-radius: 0 !important;}
.clear{clear: both;}
.reset{margin: 0; padding: 0;}
.metro-menu{padding: 20px 0; margin-left: 0; height: 100%; position: fixed; max-width: 160px;}
.bg-dk{background-color: #222;}
.m20{margin: 20px;}

.li-menu{
	width: 100%;
	height: 40px;
}
.menu-item{
	width: 100%;
	display: inline-block;
	padding: 10px;
	font-size: 17px;
}

.i-active, .menu-item:hover{
	background-color: rgb(85, 85, 85);
	color: #fff;
}
#alert-padrao{
	min-width: 480px;
	position: absolute;
	left: 30%;
	top: 10%;
	text-align: center;
	z-index: 9999;
}
.lista-tags li{
	float: left;
	list-style: none;
	display: inline-block;
	background-color: rgb(179, 179, 179);
	padding: 4px;
	border-radius: 5px;
	min-width: 80px;
	color: rgb(187, 0, 0);
	border: solid 1px #000;
}
.lista-tags li a{
	color: rgb(187, 0, 0);
}
.lista-tags li a:hover{
	color: #fff;
}
.lista-tags li:hover{
	background-color: rgb(75, 69, 69);	
	border: solid 1px #eee;
	color: #fff;
}
.remove{
	font-size: 10px;
	color: #000;
	cursor: pointer;
}
.remove:hover{
	color: red;
}
.plus{float: left; padding: 3px 8px; margin-top: 1px; margin-left: 10px;}
